.vscode
.DS_Store
node_modules
*.o
*.a
node-matrix/build
*.dSYM

matrix/run-gif
matrix/run-text
matrix/run-rain
matrix/run-twinkle
matrix/run-perlin
matrix/run-wash
matrix/run-static
matrix/run-circle
matrix/run-clock
matrix/run-life
matrix/run-image
matrix/run-hue-block

hzeller/minimal-example
hzeller/text-example
hzeller/led-image-viewer
hzeller/led-matrix
